[submodule "support/org-mode"]
	path = support/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "support/rainbow"]
	path = support/rainbow
	url = git://git.naquadah.org/rainbow.git
[submodule "support/magit"]
	path = support/magit
	url = git://github.com/philjackson/magit.git
[submodule "support/ergoemacs"]
	path = support/ergoemacs
	url = git://github.com/mbudde/ergoemacs.git
[submodule "support/yasnippet"]
	path = support/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "support/smex"]
	path = support/smex
	url = git://github.com/nonsequitur/smex.git
